#map {
  width: 100%;
  height: 500px;
}

.images {
  max-height: 700px;
  margin: auto !important;
}

.thumb {
  max-height: 150px;
  max-width: 150px;
}

#photo-viewer {
  position: relative;
  height: 300px;
  overflow: hidden;
}

#photo-viewer.is-loading:after {
  content: url(images/load.gif);
  position: absolute;
  top: 0;
  right: 0;
}

#photo-viewer img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
}

a.active {
  opacity: 0.3;
}

body {
  background-color: #ebe5d9 !important;
}

.jumbotron {
  background-color: #ebe5d9 !important;
  /*background-color: rgba(252,139,121,0.8) !important;*/
  /*background-color: rgba(255,0,0,0.7) !important;*/
}

.detail-button {
  /*  background-color: #bbdf7f !important; */
  /*background-color: #99CC66 !important;*/
  border-color: #7EB647 !important;
  background-color: #99CC66 !important;
  color: #ffffff !important;
}

.hover-button:hover {
  background-color: #7EB647 !important;
  border-color: #7EB647 !important;
}

#featured-content {
  width: 100% !important;
  background-color: rgba(252,139,121,0.7) !important;
  padding-top: 25px;
  /*height: 75%;*/
}

#carousel-text {
  margin-top: 25%;
}

#blueberries-and-cream-cookies {
  background-image: url("../img/blueberries-and-cream-cookies.JPG");
  z-index: -3;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#bacon-asparagus-bundles {
  background-image: url("../img/bacon-asparagus-bundles.JPG");
  z-index: -3;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#fluffy-pancakes {
  background-image: url("http://www.seriouseats.com/recipes/assets_c/2015/05/20150518-pancakes-new-kenji-thumb-1500xauto-423207.jpg");
  z-index: -3;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#greek-mediterranean-salad {
  background-image: url("../img/mediterranean-greek-salad.JPG");
  z-index: -3;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#oatmeal-cookies {
  background-image: url("../img/oatmeal-cookies.JPG");
  z-index: -3;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#smoked-beef-brisket {
  background-image: url("../img/smoked-beef-brisket.JPG");
  z-index: -3;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#recipe-index-photo {
  background-image: url("../img/guacamole-for-a-crowd.JPG");
  z-index: -3;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#breakfast-index {
  background-image: url("https://previews.123rf.com/images/zstockphotos/zstockphotos1303/zstockphotos130300036/18433459-Healthy-organic-breakfast-in-carved-watermelon-Stock-Photo.jpg");
  z-index: -3;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#lunch-index {
  background-image: url("https://static.pexels.com/photos/2139/food-summer-party-dinner.jpg");
  z-index: -3;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#dinner-index {
  background-image: url("https://www.bbcgoodfood.com/sites/default/files/recipe_images/heirloom-tomato-watermelon-salad.jpg");
  z-index: -3;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#dessert-index {
  background-image: url("https://image.shutterstock.com/z/stock-photo-chocolate-dessert-with-strawberry-107126984.jpg");
  z-index: -3;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


.recipe-link {
  /*color: #8cc170;*/
  color: #7EB647;
  /*color: rgba(126, 182, 71, 0.9);*/
  /*color: rgba(76, 122, 30, 0.9);*/
  /*darker version of the green above*/
  /*color: #4C7A1E*/
}

.recipe-link:hover {
  color: #4C7A1E
}

.recipe-link:visited {
    color: rgba(76, 122, 30, 0.9);
}

.carousel-control {
  z-index: 50;
}

.main-text
{
    position: absolute;
    top: 50px;
    width: 100%;
    color: #FFF;
    z-index: 1;
    /*margin-top: 15%;*/
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #bbdf7f;
}

@media (min-width:320px) {
  .recipe-directions {
    max-width: 100%;
    margin: auto;
    background-color: #e2d9ca;
    padding: 5px 9px 5px 8px;
    border-radius: 10px;
  }
  .container {
    padding: 1px !important;
    width: 100%;
  }
  .main-text {
    position: absolute;
    top: 50px;
    width: 100%;
    color: #FFF;
    z-index: 1;
    /* margin-top: 15%; */
  }
  #front-page-text-bg {
    margin-top: 150px;
    background-color: rgba(0,0,0,0.5) !important;
  }
  #cover-photo {
    height: 40%;
  }
}

@media (min-width:480px) {
  #front-page-text-bg {
    margin-top: 300px;
  }
  #cover-photo {
    height: 60%;
  }
}

@media (min-width: 768px) {
  .recipe-directions {
    width: 95%;
    margin: auto;
    background-color: #e2d9ca;
    padding: 15px 30px 15px 50px;
    border-radius: 10px;
  }
  .container {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    width: 100%;
  }
  /*#front-page-text-bg {
    margin-top: 300px;
    background-color: rgba(0,0,0,0.5) !important;
  }
  #cover-photo {
    height: 60%;
  }*/
}

/*@media (max-width: 961px) {
  .recipe-directions {
    width: 70%;
  }
}*/

@media (min-width: 1025px) {
  .recipe-directions {
    width: 80%;
    margin: auto;
    background-color: #e2d9ca;
    padding: 15px 30px 15px 50px;
    border-radius: 10px;
  }
}

@media (min-width:1281px) {
  .recipe-directions {
    width: 60%;
    margin: auto;
    background-color: #e2d9ca;
    padding: 15px 30px 15px 50px;
    border-radius: 10px;
  }
}

@media (min-width: 2000px) {
  .recipe-directions {
    width: 40%;
  }
}






html, body, .carousel,  .carousel-inner, .carousel-inner .item {
   height: 100%;
}

/*The carousel images on the front page*/
#first-carousel-image {
    background-image: url("http://food.fnr.sndimg.com/content/dam/images/food/fullset/2014/1/23/0/KC0101_Italian-Chicken-Pasta-Salad_s4x3.jpg.rend.hgtvcom.966.773.jpeg");
    z-index: -3;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#second-carousel-image {
    background-image: url("http://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/2/4/0/YW0207H_charleston-cheese-dip-recipe_s4x3.jpg.rend.hgtvcom.966.725.jpeg");
    z-index: -3;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#third-carousel-image {
    background-image: url("http://cook.fnr.sndimg.com/content/dam/images/cook/fullset/2011/4/22/0/CCWID-101H_Brasied-Pork-Tacos_s4x3.jpg.rend.hgtvcom.966.725.jpeg");
    z-index: -3;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

@media (max-width: 767px) {
  body {
      padding: 0px !important;
  }
}
